
.subtexto{
color: rgba(255, 255, 255, 0.87);
padding: 1%;
}

.texto {
    width: 25%;
    height: 100px; /* Altura inicial del textarea */
    overflow: auto;
    padding: 0%;
    
}

.data {
    width: 25%;
    margin: 0%;
    padding-block: 1%;

    
}

.prueba{
    color: rgba(202, 34, 34, 0.87);

}
